<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Entry</title>

    <style type="text/css">
        .inP{ display: inline }
    </style>
</head>
<body>
<p class ="inP">Hello <p th:text = "${theuser.name}" class ="inP"/>, welcome to the home page!

<p th:text = "${theuser.id}"/>
<p th:text = "${theuser.email}"/>
<p th:text = "${theuser.name}"/>


<form th:action = "@{/process}"method = "post">
    <input type="text" name="id" th:value = "${theuser.id}"/>
    <input type="text" name="name" th:value = "${theuser.name}"/>
    <input type="text" name="email" th:value = "${theuser.email}"/>
    <input type="submit" name="Submit"/>

</form>

</p>
</body>
</html>